{% set active_page = "admin" %}
{% include "header.html" %}
<div id="acp" class="container py-3">
    <div class="card">
        <div class="card-header lead">
            Users
        </div>
        <div class="card-body">
            <form method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="target_user">User</label>
                    <div class="col-sm-3 my-auto">
                        <select class="lead m-1 selectpicker" name="target_user" id="target_user" data-container="body" data-live-search="true">
                            {% for user in data.users %}
                            <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-sm-1 col-form-label" for="target_role">Role</label>
                    <div class="col-sm-3 my-auto">
                        <select class="lead m-1 selectpicker" name="target_role" id="target_role" data-container="body" data-live-search="true">
                            {% for role in data.roles %}
                            <option value="{{role}}">{{role}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm my-auto">
                        <button type="submit" name="action" value="user_role_add" class="btn btn-success m-1">
                            Add
                        </button>
                        <button type="submit" name="action" value="user_role_remove"
                            class="btn btn-danger m-1">
                            Remove
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header lead">
            Data
        </div>
        <div class="card-body p-0">
            <div class="accordion" id="manage_data">
                <div class="card" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                    <div class="card-header collapsed" data-toggle="collapse" data-target="#corpus_container"
                        aria-expanded="false" aria-controls="corpus_container">
                        Create Corpus
                    </div>
                    <div id="corpus_container" class="collapse" data-parent="#manage_data">
                        <div class="card-body">
                            <form method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="corpus_name">Title</label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control"  name="corpus_name" id="corpus_name" placeholder="Enter new corpus title" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="corpus_description">Description</label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control"  name="corpus_description" id="corpus_description" placeholder="Enter new corpus description">
                                    </div>
                                </div>
                                <button type="submit" name="action" value="corpus_add" class="btn btn-success m-1">
                                    Create
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                    <div class="card-header" data-toggle="collapse" data-target="#chapter_container"
                        aria-expanded="true" aria-controls="chapter_container">
                        Add Chapter
                    </div>
                    <div id="chapter_container" role="tabpanel" class="collapse show" data-parent="#manage_data">
                        <div class="card-body">
                            <form method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="corpus_select">Corpus</label>
                                    </div>
                                    <div class="col-sm">
                                        <select class="lead my-auto selectpicker" name="corpus_id" id="corpus_select" data-container="body" data-live-search="true" data-width="auto" required>
                                            {% for corpus in data.corpus_list %}
                                            <option value="{{corpus.id}}">{{corpus.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="chapter_name">Title</label>
                                    </div>
                                    <div class="col-sm">
                                        <input class="form-control" type="text" name="chapter_name" id="chapter_name" placeholder="Enter new chapter title" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="chapter_description">Description</label>
                                    </div>
                                    <div class="col-sm">
                                        <input class="form-control" type="text" name="chapter_description" id="chapter_description" placeholder="Enter new chapter description">
                                    </div>
                                </div>
                                <div class="input-group my-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="file_upload">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="chapter_file" name="chapter_file" aria-describedby="file_upload" required>
                                        <label class="custom-file-label" for="chapter_file">Choose chapter file</label>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        bsCustomFileInput.init();
                                    })
                                </script>
                                <button type="submit" name="action" value="chapter_add" class="btn btn-success m-1">
                                    Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                    <div class="card-header collapsed" data-toggle="collapse" data-target="#download_container"
                        aria-expanded="false" aria-controls="download_container">
                        Download Annotations
                    </div>
                    <div id="download_container" role="tabpanel" class="collapse" data-parent="#manage_data">
                        <div class="card-body">
                            <form method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                                <input type="hidden" name="csrf_token" value={{csrf_token()}}>

                                        <label for="annotator">User</label>
                                        <select class="lead m-1 selectpicker" name="annotator" id="annotator"
                                            data-container="body"
                                            data-width="25%"
                                            data-live-search="true"
                                            data-actions-box="true"
                                            data-select-all-text="All"
                                            data-deselect-all-text="None"
                                            data-selected-text-format="count"
                                            multiple>
                                            {% for user in data.users %}
                                            <option value="{{user}}">{{user}}</option>
                                            {% endfor %}
                                        </select>

                                        <label for="corpus_id">Chapter</label>
                                        <select class="lead m-1 selectpicker" name="chapter_id" id="annotator_chapter_id"
                                            data-container="body"
                                            data-width="50%"
                                            data-live-search="true"
                                            data-actions-box="true"
                                            data-select-all-text="All"
                                            data-deselect-all-text="None"
                                            data-selected-text-format="count"
                                            multiple>
                                            {% for corpus in data.corpus_list %}
                                            {% for chapter in corpus.chapters %}
                                            <option value="{{chapter.id}}">{{corpus.name}} - {{chapter.name}}</option>
                                            {% endfor %}
                                            {% endfor %}
                                        </select>

                                        <button type="submit" name="action" value="annotation_download" class="btn btn-secondary">
                                            <i class="fa fa-download"></i>
                                        </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header lead">
            Ontology
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-tabs mb-3" id="labels-tab" role="tablist">
                {% for label in context_labels.admin_labels %}
                {% if loop.first %}
                    {% set active_status = "active" %}
                    {% set aria_selected = "true" %}
                {% else %}
                    {% set active_status = "" %}
                    {% set aria_selected = "false" %}
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {{active_status}} ontology-tab" id="{{label.name}}-label-tab" data-toggle="tab" href="#{{label.name}}-label-tab-content" role="tab" aria-controls="{{label.name}}-label-tab-content" aria-selected="{{aria_selected}}">{{label.title}}Label</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content m-3" id="labels-tab-content">
                {% for label in context_labels.admin_labels %}
                {% if loop.first %}
                    {% set active_status = "active" %}
                {% else %}
                    {% set active_status = "" %}
                {% endif %}
                <div class="tab-pane {{active_status}}" id="{{label.name}}-label-tab-content" role="tabpanel" aria-labelledby="{{label.name}}-label-tab">
                    <div class="container">
                        <form class="form " method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                            <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                            <div class="form-group form-row">
                                <label class="col-sm-2" for="{{label.name}}-label-text">
                                    Label
                                    <!-- <small class="text-muted">{{label.title}} Label</small> -->
                                </label>
                                <input class="form-control col-sm" type="text" name="{{label.name}}_label_text" id="{{label.name}}-label-text" required>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-sm-2" for="{{label.name}}-label-desc">
                                    Description
                                    <!-- <small class="text-muted">{{label.title}} Label</small> -->
                                </label>
                                <input class="form-control col-sm" type="text" name="{{label.name}}_label_desc" id="{{label.name}}-label-desc" required>
                            </div>
                            <button type="submit" name="action" value="{{label.name}}_label_add" class="btn btn-success m-1">
                                Add
                            </button>
                        </form>
                        <hr>
                        <form class="form" method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                            <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                            <div class="input-group my-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="{{label.name}}_label_file_upload">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="{{label.name}}-label-file" name="label_file" aria-describedby="{{label.name}}_label_file_upload" required>
                                    <label class="custom-file-label" for="{{label.name}}-label-file">Choose label file</label>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="mt-2 col-sm">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" name="upload_format" id="{{label.name}}-upload-format-json" value="json" checked>
                                        <label class="custom-control-label" for="{{label.name}}-upload-format-json">JSON</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" name="upload_format" id="{{label.name}}-upload-format-csv" value="csv">
                                        <label class="custom-control-label" for="{{label.name}}-upload-format-csv">CSV</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <button type="submit" name="action" value="{{label.name}}_label_upload" class="btn btn-primary m-1 float-right">
                                        Upload
                                    </button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <form class="form" method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                            <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                            <div class="form-group">
                                <label for="{{label.name}}-{{label.id}}-label-select">Label</label>
                                <select class="lead m-1 selectpicker" name="{{label.name}}_label_text" id="{{label.name}}-{{label.id}}-label-select" data-live-search="true" required>
                                    {% for _id, _label, _description in context_labels[label.object_name] %}
                                    <option value="{{_label}}">{{_description}}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" name="action" value="{{label.name}}_label_remove" class="btn btn-danger m-1">
                                    Remove
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if current_user.has_role('owner') %}
    <!-- PythonAnywhere -->
    <div class="card mt-2">
        <div class="card-header lead">
            Application
        </div>
        <div class="card-body">
            <form method=POST enctype=multipart/form-data action="{{url_for('perform_action')}}">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                <button type="submit" name="action" value="application_info" class="btn btn-primary">
                    info
                </button>
                <button type="submit" name="action" value="application_update" class="btn btn-warning">
                    update
                </button>
                <!-- reload button not actually interacting with form -->
                <button type="button" id="application_reload" class="btn btn-success">
                    reload
                </button>
                <a class="btn btn-dark" href="{{url_for('admin.index')}}">database</a>
            </form>
            <script>
                $(document).ready(function () {
                    $("#application_reload").click(function () {
                        $.ajax({
                            type: "POST",
                            url: "{{url_for('perform_action')}}",
                            data: {
                                "action": "application_reload"
                            },
                            success: function (result) {
                                location.reload();
                            },
                            error: function (result) {
                                location.reload();
                            },
                        })

                    });
                });
            </script>
        </div>
    </div>
    {% if data.result %}
    <div class="card bg-dark">
        <div class="card-body">
            <pre class="text-white pre-scrollable">{{data.result}}</pre>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
<script src="{{url_for('static', filename='custom/js/admin/admin.js')}}"></script>
{% include "footer.html" %}