{% set active_page = "query" %}
{% include "header.html" %}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md pr-2">
            <form id="query-builder" class="border border-primary rounded p-2">
                <div class="btn lead disabled text-primary">Query</div>
                <div class="row">
                    <div class="col-sm-9 pr-0">
                        <select id="query-select" title="Select a query" class="form-control selectpicker"
                            data-container="body" data-live-search="true">
                            {% for query_group in data.query_groups %}
                            <optgroup {% for language, groupname in query_group.groups.items() %} data-{{language}}="{{groupname}}"{% endfor %}
                             label="{{query_group.groups[config.default_query_language]}}">
                            {% for query in query_group.queries %}
                            <option value="{{query_id}}" {% for language, text in query.texts.items() %} data-{{language}}="{{text}}"{% endfor %}
                                data-cypher="{{query.cypher}}" data-input-elements="{{query.input|tojson|urlencode}}"
                                data-output-order="{{query.output|tojson|urlencode}}">
                                {{query.texts[config.default_query_language]}}
                            </option>
                            {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 pl-1">
                        <select id="language-select" title="Language" class="form-control selectpicker">
                            {% for language in config.query_languages %}
                            <option value="{{language}}" {% if language == config.default_query_language %} selected{% endif %}>
                                {{language.title()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="query-input" class="d-none">
                    <div id="query-input-container" class="row mt-2"></div>
                </div>
                <div id="sample-input" hidden="true">
                    <input id="sample-entity" type="text" class="form-control" placeholder="Enter {}" data-url="{{url_for('suggest_lexicon')}}" autocomplete="off">
                    <select id="sample-entity-type" title="Select {}" class="form-control" data-container="body" data-live-search="true">
                        {% for _id, _label, _description in context_labels.node_labels | sort(attribute=current_user.settings.sort_labels | default(0) | int) %}
                        <option data-tokens="{{_label}}" value="{{_label}}">{{_description}}</option>
                        {% endfor %}
                    </select>
                    <select id="sample-relation" title="Select {}" class="form-control" data-container="body" data-live-search="true">
                        {% for _id, _label, _description in context_labels.relation_labels | sort(attribute=current_user.settings.sort_labels | default(0) | int) %}
                        <option data-tokens="{{_label}}" value="{{_label}}">{{_description}}</option>
                        {% endfor %}
                    </select>
                    <input id="sample-relation-detail" type="text" class="form-control" placeholder="Enter {}">
                </div>
                <div class="row mt-2">
                    <div class="input-group col-sm">
                        <input class="form-control text-muted text-monospace my-auto" id="cypher-text"
                            placeholder="Cypher Query" title="Cypher Query" disabled>
                        <div class="input-group-append">
                            <button type="button" id="edit-cypher" class="btn btn-secondary my-auto"
                                title="Edit Cypher Query">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="submit" id="submit-query" class="btn btn-primary my-auto">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="result-container" class="mt-2">
                <div id="result-toolbar">
                    <div class="btn lead disabled">Query Result</div>
                </div>
                <table id="result-viewer" class="table table-bordered table-hover" data-toggle="table"
                    data-toolbar="#result-toolbar"
                    data-cache="false"
                    data-search="true"
                    data-show-columns="true"
                    data-show-export="true"
                    data-export-data-type="all"
                    data-pagination="true"
                    data-page-list="[10, 25, 50, All]"
                    data-show-toggle="false"
                    data-detail-view="false">
                </table>
            </div>
        </div>
        <div class="col-md pl-2">
            <div class="container-fluid px-0" onload="draw();">
                <div class="row">
                    <div class="col-sm-10">
                        <div id="query-text" class="btn text-info border border-info float-left disabled d-none"></div>
                    </div>
                    <div class="col-sm">
                        <button id="download-image" title="Snapshot" class="btn btn-secondary float-right">
                            <i class="fa fa-camera"></i>
                        </button>
                        <button id="toggle-physics" title="Toggle Node Physics" class="btn btn-secondary float-right mx-1">
                            <i id="toggle-icon" class="fa fa-lock"></i>
                        </button>
                    </div>
                </div>
                <div class="border rounded" id="graph" style="height: 85vh;"></div>
            </div>
        </div>

    </div>
</div>
<script>
    const VARIABLE_PREFIX = "{{config.var_prefix}}";
    const VARIABLE_SUFFIX = "{{config.var_suffix}}";
    const API_URL = "{{url_for('api')}}";
</script>
<script src="{{url_for('static', filename='plugins/js/vis-network.min.js')}}"></script>
<script src="{{url_for('static', filename='custom/js/query/network.js')}}"></script>
<script src="{{url_for('static', filename='custom/js/query/query.js')}}"></script>
<script>
    $(document).ready(function () {
        $cypher_input.val('{{data.initial_query | safe}}');
        $result_table.data('output-order', JSON.parse('{{data.initial_output|tojson|safe}}'));
        $submit_button.click();
    });
</script>

{% include "footer.html" %}
